{{ template "header" . }}

<center>
    <img style="width: 79%;" src="/static/img/aone.jpg" alt="">
    <br>
    <br>
    <br>
    <center style="width: 79%;">
        <img style="width:100%;" src="/static/img/aoneblog.jpg" alt="">
        <br>
        <br>
        <a href="/atwo">Blog #2</a>
    </center>


    {{ template "footer" . }}