{{ template "header" . }}
<center>
    <div class="flex-container">
        <div class="flex-item">
            <a href="/learning/1">
                <div class="section">
                    <h5>Go</h5>
                    <p style="width: 79%;height: 5em;">Its a programming langauge from Google I enjoy
                        writing every other day.

                    </p>
                    <img style="width: 79%;" src="/static/img/go.jpg" alt="">
            </a>
        </div>
    </div>
    <div class="flex-item">
        <a href="/pizza">

            <div class="section">
                <h5>Pizza</h5>
                <p style="width: 79%;height: 5em;">It is something I enjoy making every week.</p>
                <img style="width: 88%;" src="/static/img/pizza.jpg" alt="">
            </div>
        </a>
    </div>
    <div class="flex-item">
        <a href="/aone">

            <div class="section">
                <h5>Abraham Lincoln</h5>
                <p style="width: 79%;height: 5em;">It is something I love reading about every week.</p>
                <img style="width: 79%;" src="/static/img/ab.jpg" alt="">

            </div>
        </a>
    </div>
    </div>
</center>

{{ template "footer" . }}