{{ template "header" . }}
<h1>{{index . "name"}}</h1>
<form style="padding:2%;margin:2%;" action="/procwatch" method="POST">
    <label for="path">Path:</label>
    <input type="text" id="path" name="path" value="/templates/">{{.path}}<br>
    <label for="time">Watch time:</label>
    <input type="text" id="time" name="time" value="3000">{{.time}}
    <input type="submit" value="Submit">
</form>
<br>
<form style="padding:2%;margin:2%;" action="/apiwatch" method="POST">
    <label for="path">API</label>
    <input type="text" id="api" name="api" value="http:localhost:1323/user/1">
    <input type="submit" value="Submit">{{if .api}} {{.api}}{{else}} none {{end}}
</form>
<label for="">file that is being watched</label>
{{if .file}} {{.file}}{{else}} none {{end}}<br>

<form style="padding:2%;margin:2%;" action="/mem" method="POST">
    <label for="ml">Main Location?</label>
    <input type="text" id="ml" name="ml" value="/proj/">
    <label for="git">Git</label>
    <input type="text" id="git" name="git" value="gitlab.com/zendrulat123/godash/proj">
    <input type="submit" value="Submit">
</form>



{{ template "footer" . }}