{{ template "header" . }}
<form action="/userprocess" method="POST">
    <label for="username">Username</label>
    <input type="text" id="username" name="username" value="jj"><br>
    <label for="password">Password</label>
    <input type="text" id="password" name="password" value="aa">
    <label for="password">Eamil</label>
    <input type="text" id="email" name="email" value="some@gasd">
    <input type="submit" value="Submit">
</form>
{{ template "footer" . }}