{{ template "header" . }}

<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                Lesson 1. Learning where to go?
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                A few good resource to visit first is the following.
                <ul>
                    <li><a href="https://gobyexample.com/" target="_blank">Gobyexample</a></li>
                    <li><a href="https://tour.golang.org/welcome/1" target="_blank">Tour of Go</a></li>
                    <li><a href="https://golang.org/doc/effective_go" target="_blank">Effective Go</a></li>
                    <li><a href="https://github.com/ardanlabs/service/blob/master/README.md" target="_blank">Bill
                            Kennedy</a></li>
                    <li><a href="https://astaxie.gitbooks.io/build-web-application-with-golang/content/en/03.2.html"
                            target="_blank">Online Go book</a></li>
                    <li><a href="https://docs.google.com/document/d/1Zb9GCWPKeEJ4Dyn2TkT-O3wJ8AFc-IMxZzTugNCjr-8/edit?usp=sharing"
                            target="_blank">My Resources</a></li>

                </ul>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Lesson 2. After resources have been reviewed try to code.
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                The first you want to do is create a variable in Go and attempt to print it like the following.
                <pre>
                <code>package main
                
                import (
                "fmt"
                )
                
                func main() {
                news := "works"
                fmt.Println(news)
                }</code></pre>

                You will eventually want to do collections so you can do the following.
                <pre>
                    <code>
                        maps := make(map[string]int)
                        maps["one"] = 1
                        maps["two"] = 2
                    </code>
                </pre>

                This is creating a map which is like a structured array with keys.

            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Lesson 3. executing code.
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                The following is a function which is used to run pieces of code.
                <pre><code>
                func main() {
                run()
                }
                
                func run() {
                fmt.Println("run")
                }
</code></pre>
            </div>
        </div>
    </div>
</div>
{{ template "footer" . }}