{{ template "header" . }}
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button"
            role="tab" aria-controls="nav-home" aria-selected="true">Sign In</button>
        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button"
            role="tab" aria-controls="nav-profile" aria-selected="false">Sign Up</button>
        <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button"
            role="tab" aria-controls="nav-contact" aria-selected="false">Contact</button>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <p style="padding:2%;margin:2%;">
            Please Login.
        </p>
        <form style="padding:2%;margin:2%;" action="/userprocess" method="POST">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" value="jj"><br>
            <label for="fullname">Fullname</label>
            <input type="text" id="fullname" name="fullname" value="jj"><br>
            <label for="password">Password</label>
            <input type="text" id="password" name="password" value="aa">
            <label for="password">Email</label>
            <input type="text" id="email" name="email" value="some@gasd">
            <input type="submit" value="Submit">
        </form>


    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <p style="padding:2%;margin:2%;">
            Please create a user
        </p>
        <form style="padding:2%;margin:2%;" action="/usercreate" method="POST">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" value="jj"><br>
            <label for="fullname">Fullname</label>
            <input type="text" id="fullname" name="fullname" value="jj"><br>
            <label for="password">Password</label>
            <input type="text" id="password" name="password" value="aa">
            <label for="password">Email</label>
            <input type="text" id="email" name="email" value="some@gasd">
            <input type="submit" value="Submit">
        </form>

    </div>
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
</div>

<style>
    .nav-tabs .nav-link {
        width: 33%;
    }

    .nav-tabs {
        border-bottom: 0px solid
    }
</style>
{{ template "footer" . }}